<!doctype html>
<html>
<head>
	<!-- HTML Meta Tags -->
	<title>Yay || Nay</title>
	<meta name="description" content="Tired of saying yes or no repeatedly to your parent/legal guardian on the way back to school? Why not just have a website do all the work for you?">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://yay.ornay.net/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Yay || Nay">
	<meta property="og:description" content="Tired of saying yes or no repeatedly to your parent/legal guardian on the way back to school? Why not just have a website do all the work for you?">
	<meta property="og:image" content="https://www.piemadd.com/files/cover_yaynay.png">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="yay.ornay.net">
	<meta property="twitter:url" content="https://yay.ornay.net/">
	<meta name="twitter:title" content="Yay || Nay">
	<meta name="twitter:description" content="Tired of saying yes or no repeatedly to your parent/legal guardian on the way back to school? Why not just have a website do all the work for you?">
	<meta name="twitter:image" content="https://www.piemadd.com/files/cover_yaynay.png">

	<!-- Meta Tags Generated via https://www.opengraph.xyz -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer data-domain="yay.ornay.net" src="https://plausible.io/js/plausible.js"></script>
	<style>
		select option {
			color: black;
		}
		.replit {
			position: absolute;
			background-color: rgb(17, 28, 49);
			top: 0px;
			right: 0px;
			padding: 10px;
		}
		.replit img {
			width: 50px;
		}
		h1 {
			margin-top: 80px;
		}
	</style>
</head>

<body>
	<div class="eee">
		<div>
			<center>
				<h1>Yay || Nay
				</h1>
				<p>Tired of having to say yes and no a lot to your parent/guardian while back to school shopping? Just select a voice pitch and who your answers should be directed towards!</p>
				<form action="/menu" method="get">
					<label for="pitch">Voice Pitch:</label><br>
					<select name="pitch" id="pitch">
						<option value="masculine">Masculine</option>
						<option value="feminine">Feminine</option>
					</select>
					<label for="person">Person:</label>
					<select name="person" id="person">
						<option value="mom">Mom</option>
						<option value="dad">Dad</option>
						<option value="mother">Mother</option>
						<option value="father">Father</option>
						<option value="legal_guardian">Legal Guardian</option>
						<option value="friend">Friend</option>
						<option value="acquaintance">Acquaintance</option>
						<option value="boss">Boss</option>
						<option value="coworker">Coworker</option>
						<option value="elon_poopy_butt_musk">Elon "Poopy Butt" Musk</option>
					</select>
					<br>
					<input type="submit" value="Continue">
				</form>
				<br>
				<a href="https://www.producthunt.com/posts/yay-nay-press-a-button-to-say-y-n?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-yay-nay-press-a-button-to-say-y-n" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=309191&theme=dark" alt="Yay || Nay (Press a button to say Y/N) - Tired of saying yes or no a lot to your legal guardian? | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
				<p><a href="https://yay.ornay.net/privacy">Privacy Policy</a> (TLDR: Plausible)</p>
			</center>
		</div>
	</div>
	<a target="_blank" href="/__repl" class="replit"><img src="https://aaa.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.com/images/logo-grayscale.png">
</body>

</html>